.login-input {
    border: 1px solid #19bfd3;
    padding: 14px;
}

.err-inp-login {
    border-color: #ef4056 !important;
}

.login-input + span {
    color: #d32f2f;
}

.login-send-btn {
    padding: 14px;
}

.login-input::placeholder {
    font-size: 14px;
}
