.active-user-panel-menu {
    background-color: #ef394e;
    width: 4px;
    border-radius: 5px 0 0 5px;
    height: 35px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: none !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border: none;
}

.active.active-user-tab-menu {
    color: #ef394e !important;
}

.active.active-user-tab-menu + div {
    width: 100%;
    height: 4px;
    background: #ef394e;
    border-radius: 4px 4px 0 0;
}

.active.active-user-tab-menu span {
    background: #ef394e;
}
.active-user-tab-menu:not(.active) span{
    background-color: #9e9fb1;
}
.btn-for-delete-add {
    padding: 7px 0;
    border: 1px solid;
}

.for-add-btn {
    color: #ef4056;
    border-color: #ef4056;
}

.for-delete-btn {
    color: #767790;
    border-color: rgba(118, 119, 144, 0.76);
}

.phone-number-status {
    background: #4caf50;
    font-size: 11px;
    border-radius: 19px;
    padding: 4px 10px;
}

.comment-verified-badge {
    border: 1px solid #2e7b32;
    color: #2e7b32;
    background-color: rgba(76, 175, 80, 0.1);
    padding: 2px 10px;
}

.identify-inputs {
    border: 1px solid #c8c8c8;
    padding: 10px;
}

.identify-inputs.phone {
    background: #f0f0f1;
}

.identify-inputs::placeholder {
    color: #b0b0b0;
}

.select-identify-inputs {
    padding: 7px;
    border: 1px solid #bababa;
    color: #7b7b7b;
}

.identify-header-shadow {
    box-shadow: 0px 2px 4px rgba(210, 210, 210, 0.87);
}

.sep-m-s {
    height: 7px;
    background: #f0f0f1;
}
.org-color{
    color: #f57f17;
}
.on-hover-border-inp:focus{
    border: 1px solid #19bfd3 !important;
    transition: .3s all ease;
}

.search_address_inp {
    top: 10px;
    z-index: 1000;
}

.search_address_inp input {
    height: 50px;
    width: 77%;
    border-radius: 7px;
    border: none;
    color: #424750;
    /*   box-shadow: 0 -7px 7px #dfdfdf;*/
}

.search_address_inp::placeholder {
    color: #bababa;
    font-size: 14px;
}

.search_address_inp input:focus {
    border-color: #1e9958 !important;
}

.ajx-res-src-val {
    background: white;
    padding: 20px;
    width: 77%;
    margin-top: -2px;
    border-radius: 0 0 7px 7px;
    max-height: 310px;
    overflow-y: scroll;
    display: none;
}
